html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
    font-family: 'CalibreRegular';
    src: url('fonts/CalibreRegular.eot');
    src: url('fonts/CalibreRegular.eot') format('embedded-opentype'),
         url('fonts/CalibreRegular.woff2') format('woff2'),
         url('fonts/CalibreRegular.woff') format('woff'),
         url('fonts/CalibreRegular.ttf') format('truetype'),
         url('fonts/CalibreRegular.svg#CalibreRegular') format('svg');
}

@font-face {
    font-family: 'CalibreMedium';
    src: url('fonts/CalibreMedium.eot');
    src: url('fonts/CalibreMedium.eot') format('embedded-opentype'),
         url('fonts/CalibreMedium.woff2') format('woff2'),
         url('fonts/CalibreMedium.woff') format('woff'),
         url('fonts/CalibreMedium.ttf') format('truetype'),
         url('fonts/CalibreMedium.svg#CalibreMedium') format('svg');
}

@font-face {
    font-family: 'CalibreSemibold';
    src: url('fonts/CalibreSemibold.eot');
    src: url('fonts/CalibreSemibold.eot') format('embedded-opentype'),
         url('fonts/CalibreSemibold.woff2') format('woff2'),
         url('fonts/CalibreSemibold.woff') format('woff'),
         url('fonts/CalibreSemibold.ttf') format('truetype'),
         url('fonts/CalibreSemibold.svg#CalibreSemibold') format('svg');
}

html {
	color: #000;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #f2F2F2;
}

#container {
	padding-bottom: 100px;
	padding-left: 100px;
	padding-right: 100px;
}

/*-------------------------
          HEADER
-------------------------*/

nav {
	padding-top: 20px;
	padding-bottom: 20px;
  	padding-left: 100px;
	padding-right: 100px;
 	background-color: #9fec73;
 	margin-bottom: 75px;
}

nav a {
	padding-top: 15px;
	display: inline-block;
	height: 31px;
	padding-left: 50px;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	font-size: 26px;
	font-family: 'CalibreSemibold', sans-serif;
	color: #000;
	text-decoration: none;
}

/*-------------------------
          LOGIN
-------------------------*/

.login {
	width: 300px;
	margin-left: auto;
	margin-right: auto;	
}

input {
	color: #000;
	padding-top: 15px;
	padding-bottom: 5px;
	display: block;
	width: 300px;
	background-color: #d3d3d3;
	border: none;
	font-family: 'CalibreRegular', sans-serif;
	font-size: 16px;
	outline: none;
	text-align: center;
	margin-bottom: 15px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #d3d3d3 inset;
}

input[type="submit"] {
	cursor: pointer;
	font-family: 'CalibreSemibold', sans-serif;
	background-color: #000;
	color: #fff;
	-webkit-transition: all 400ms cubic-bezier(.250, .460, .450, .940); 
	-moz-transition: all 400ms cubic-bezier(.250, .460, .450, .940); 
	-ms-transition: all 400ms cubic-bezier(.250, .460, .450, .940); 
	-o-transition: all 400ms cubic-bezier(.250, .460, .450, .940); 
	transition: all 400ms cubic-bezier(.250, .460, .450, .940);
}

input[type="submit"]:hover {
	background-color: #fff;
	color: #000;
}

/*-------------------------
          ADMINPANEL
-------------------------*/

.navButton {
	color: #fff;
	text-decoration: none;
	position: absolute;
	right: 100px;
	top: 28px;
	padding-top: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #000;
	font-family: 'CalibreSemibold', sans-serif;
	-webkit-transition: all 400ms cubic-bezier(.250, .460, .450, .940); 
	-moz-transition: all 400ms cubic-bezier(.250, .460, .450, .940); 
	-ms-transition: all 400ms cubic-bezier(.250, .460, .450, .940); 
	-o-transition: all 400ms cubic-bezier(.250, .460, .450, .940); 
	transition: all 400ms cubic-bezier(.250, .460, .450, .940);
}

.client {
	color: #fff;
	text-decoration: none;
	position: absolute;
	right: 100px;
	top: 28px;
	padding-top: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #000;
	font-family: 'CalibreSemibold', sans-serif;
}

.navButton:hover {
	background-color: #fff;;
	color: #000;
}

.projects ul {
	padding-top: 15px;
	padding-bottom: 8px;
	width: 100%;
	font-family: 'CalibreRegular', sans-serif;
}

.projects ul:nth-child(1) {
	color: #fff;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
	font-family: 'CalibreMedium', sans-serif;
	background-color: #000;
}

.projects ul li{
	padding-left: 2%;
	display: inline-block;
	width: 22.5%;
}

.projects ul a{
	font-family: 'CalibreMedium', sans-serif;
	text-decoration: none;
	color: #000;
	display: inline-block;
	padding-left: 2%;
	width: 10%;
	text-align: center;
	padding-right: 2%;
	padding-top: 8px;
	padding-bottom: 2px;
}

.projects ul p{
	font-family: 'CalibreMedium', sans-serif;
	text-decoration: none;
	color: #000;
	display: inline-block;
	padding-left: 2%;
	width: 10%;
	text-align: center;
	padding-right: 2%;
	padding-top: 8px;
	padding-bottom: 2px;
}

.projects ul .done {
	background-color: #9fec73;
}

.projects ul .waiting {
	background-color: #fff071;
}

.projects ul .none {
	background-color: #ff7557;
}

/*-------------------------
          FEEDBACK
-------------------------*/


.feedback h2 {
	font-family: 'CalibreMedium', sans-serif;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	background-color: #93d6e9;
	margin-bottom: 30px;
}

.feedback p {
	margin-bottom: 50px;
	font-family: 'CalibreRegular', sans-serif;
}

/*-------------------------
          FEEDBACK MAKER
-------------------------*/

.sendfeedback input[type="text"] {
	text-align: left;
	display: inline-block;
	width: 490px;
	padding-top: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
}

.sendfeedback select {
	outline: none;
	margin-left: -5px;
	padding-left: 10px;
	font-size: 1em;
	padding-top: 6px;
	font-family: 'CalibreRegular', sans-serif;
	color: #000;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	border-radius: none;
	-webkit-appearance: none;
  	-webkit-border-radius: 0px;
	border: none;
	background-image: url('../images/arrowdown.png');
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-color: #999999;
	height: 34px;
	display: inline-block;
	width: 190px;
}

.sendfeedback button {
	display: inline-block;
	margin-left: -5px;
	outline: none;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 1em;
	height: 34px;
	padding-top: 9px;
	font-family: 'CalibreRegular', sans-serif;
	color: #fff;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	border-radius: none;
	-webkit-appearance: none;
  	-webkit-border-radius: 0px;
	border: none;
	background-color: #000;
	-webkit-transition: all 400ms cubic-bezier(.250, .460, .450, .940); 
	-moz-transition: all 400ms cubic-bezier(.250, .460, .450, .940); 
	-ms-transition: all 400ms cubic-bezier(.250, .460, .450, .940); 
	-o-transition: all 400ms cubic-bezier(.250, .460, .450, .940); 
	transition: all 400ms cubic-bezier(.250, .460, .450, .940);
}

.sendfeedback button:hover {
	cursor: pointer;
	background-color: #fff;;
	color: #000;
}

.sendfeedback input[type="submit"] {
	margin-bottom: 100px;
	margin-left: -5px;
	display: inline-block;
	padding-top: 10px;
	height: 34px;
	text-align: left;
	padding-left: 20px;
	width: 120px;
	background-image: url('../images/send.png');
	background-repeat: no-repeat;
	background-position: right 20px center;
}

.sendfeedback input[type="submit"]:hover {
	background-image: url('../images/sendblack.png');
}

.sendfeedback .thequestionadder {
	margin-bottom: 40px;
}

.sendfeedback h3 {
	font-family: 'CalibreMedium', sans-serif;
	color: #ff7557;
}

.sendfeedback p {
	padding-top: 5px;
	display: inline-block;
	font-family: 'CalibreRegular', sans-serif;
	color: #000;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #93d6e9;
	margin-bottom: 30px;
}

.sendfeedback img {
	padding-top: 5px;
	display: inline-block;
	-webkit-transition: all 400ms cubic-bezier(.250, .460, .450, .940); 
	-moz-transition: all 400ms cubic-bezier(.250, .460, .450, .940); 
	-ms-transition: all 400ms cubic-bezier(.250, .460, .450, .940); 
	-o-transition: all 400ms cubic-bezier(.250, .460, .450, .940); 
	transition: all 400ms cubic-bezier(.250, .460, .450, .940);	
	margin-left: 10px;
}

.sendfeedback img:hover {
	-webkit-transform: rotate(-25deg);
	-moz-transform: rotate(-25deg);
	-ms-transform: rotate(-25deg);
	-o-transform: rotate(-25deg);
	cursor: pointer;
	r
}

.sendfeedback .email {
	width: 200px !important;
}

.givefeedback p {
	padding-top: 5px;
	display: inline-block;
	font-family: 'CalibreRegular', sans-serif;
	color: #000;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #93d6e9;
	margin-bottom: 20px;
}

.givefeedback textarea {
	padding: 10px;
	width: 640px;
	background-color: #d3d3d3;
	border: none;
	outline: none;
	height: 100px;
	display: block;
}


.givefeedback input[type=range]{
	padding-top: 15px;
	width: 600px;
	height: 0px;
    -webkit-appearance: none;
}



.givefeedback input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: none;
    background: #000;
    margin-top: -10px;
}

.givefeedback input[type=range]:focus {
    outline: none;
}

.givefeedback .counter {
	display: block;
	text-align: center;
	margin-left: 600px;
	margin-top: -40px;
	width: 50px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	height: 20px;
	background-color: #000;
	font-family: 'CalibreRegular', sans-serif;
	color: #fff;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.givefeedback input[type="submit"] {
	margin-bottom: 100px;
	margin-top: -50px;
	margin-left: -5px;
	display: block;
	padding-top: 10px;
	height: 34px;
	text-align: left;
	padding-left: 20px;
	width: 120px;
	background-image: url('../images/send.png');
	background-repeat: no-repeat;
	background-position: right 20px center;
}


.givefeedback input[type="submit"]:hover {
	background-image: url('../images/sendblack.png');
}

.clear {
	display: block;
	clear: both;
}

.givefeedback .error {
	margin-top: 20px;
	font-family: 'CalibreMedium', sans-serif;
	color: #F75C43;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	display: block;
	margin-bottom: 80px;
}

.thankyou h1{
	font-family: 'CalibreSemibold', sans-serif;
	color: #000;
	font-size: 1.2em;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.thankyou h1 span{
	height: 40px;
	display: inline-block;
	-webkit-box-shadow: 0 6px #000;	
	-moz-box-shadow: 0 6px #000;
	box-shadow: 0 6px #000;
}

@media only screen and (max-width: 950px){

	nav {
	  	padding-left: 50px;
		padding-right: 50px;
	}

	#container {
		padding-bottom: 50px;
		padding-left: 50px;
		padding-right: 50px;
	}
	
	.sendfeedback input[type="text"] {
		width: 300px;
	}
}












